.container{
    background-color:white;
}
.taskconatianer{
display: flex;
 gap:5rem;
 padding: 1rem;
 width: 95%;
 margin-top: 1rem;
 margin: auto;
 box-shadow: 1px 1px 1px 1px whitesmoke;
}

.profile ul :nth-child(1){
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
}

.profile ul :nth-child(2){
    margin-bottom: 0.4rem;
    color: rgb(74, 77, 81);
    font-size:1.2rem ;
}
.profile ul :nth-child(3){
    margin-bottom: 0.4rem;
    color: rgb(34, 81, 142);
}

.detail {
    color: rgb(59, 42, 13);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 16rem;
} 
.detail ul li{
    display: flex;
    justify-content: space-between;
} 
.status ul{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:3rem
} 
  .status ul li{
    font-size: 1.3rem;
    color: green;
  }
  .status ul li span{
    color: black;
  }

  .status ul li button{
    background-color: rgb(14, 14, 66);
    width: 8rem;
    color: white;
    padding: 0.5rem;
    font-size: .8rem;
    border-radius: 9px;
    box-shadow: 1px 1px 1px  rgb(195, 191, 191);
  }

   